  /*************************/
 /*     home section      */
/*************************/

.home-section{
    padding-inline: 5%;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col{
    flex-basis: 50%;
    min-width: 300px;
}

.col img{
    max-width: 100%;
}

.col h1{
    margin: 30px 100px;
    font-size: 60px;
    color: #1c2f4d;
}

.col p{
    margin: 10px 100px 0px 100px;
    color: #443b3b;
}

  /*****************************/
 /*   featured items & About  */
/*****************************/

.home-images{
    flex-basis:32%;
    margin: 20px auto 20px auto;
    min-width: 230px;
    border: #000000 solid 1px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #000000;
}

.feat-images{
    margin-inline: 5%;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.feat-images-col{
    min-width: 135px;
    flex-basis: 23%;
    transition: 0.5s;
    border-radius: 5px;
    overflow: hidden;
    background-color: #ffffff;
    border: #000000 solid 1px;
    box-shadow: 0 0 10px #000000;
    margin-bottom: 20px;
}

.feat-images-col:hover{
    transform: translateY(-5px);
    transition: 0.5s;
}

.feat-images-col p{
    font-size: 14px;
    text-align: left;
    font-weight: bold;
    color: #11042e;
    padding-inline: 5%;
    line-height: 20px;
}

.offer{
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #1c2f4d;
    padding: 50px 8%;
    width: 80%;
    margin: auto;
}
.offer-col{
    flex-basis: 50%;
    min-width: 330px;
}
.offer .title{
    margin: 20px 0px;
}

.about .btn{
    background: linear-gradient(#d2e4ff,#1c2f4d);
    border-radius: 0px;
}
